xcuserdata/
build/
.build/
DerivedData/
*.hmap
*.ipa
*.dSYM
*.DSYM
*.dSYM.zip
*.DSYM.zip
*.xcworkspace
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.coveralls.yml
ehthumbs.db
Thumbs.db

# Swift Package Manager
Packages/
Package.pins
*.xcodeproj
.swiftpm

coverage.txt

## Playgrounds
!Playground.xcworkspace
!PlaygroundSwiftRexProxy.xcodeproj