#include "SwiftRex-Common.xcconfig"

INFOPLIST_FILE = Sources/Metadata/Info-watchOS.plist
SDKROOT = watchos
TARGETED_DEVICE_FAMILY = 4
LD_RUNPATH_SEARCH_PATHS = $(inherited) '@executable_path/Frameworks' '@loader_path/Frameworks'
FRAMEWORK_SEARCH_PATHS = $(inherited) '$(PROJECT_DIR)/Carthage/Build/watchOS'