PRODUCT_NAME = SwiftRexForCombine
PRODUCT_BUNDLE_IDENTIFIER = de.developercity.SwiftRex.Combine

// Minimum OS Version
IPHONEOS_DEPLOYMENT_TARGET = 13.0
MACOSX_DEPLOYMENT_TARGET = 10.15
TVOS_DEPLOYMENT_TARGET = 13.0
WATCHOS_DEPLOYMENT_TARGET = 6.0

// Swift Version
SWIFT_VERSION = 5.1

// Temporarily disabled while macOS Catalina is beta
// to allow development using Mojave. Sorry, can't upgrade yet.
SUPPORTS_UIKITFORMAC = NO