#include "SwiftRex-Common.xcconfig"

INFOPLIST_FILE = Sources/Metadata/Info-iOS.plist
SDKROOT = iphoneos
TARGETED_DEVICE_FAMILY = 1,2
LD_RUNPATH_SEARCH_PATHS = $(inherited) '@executable_path/Frameworks' '@loader_path/Frameworks'
FRAMEWORK_SEARCH_PATHS = $(inherited) '$(PROJECT_DIR)/Carthage/Build/iOS'
