#include "XcodeWarnings.xcconfig"

// Minimum OS Version
IPHONEOS_DEPLOYMENT_TARGET = 8.0
MACOSX_DEPLOYMENT_TARGET = 10.10
TVOS_DEPLOYMENT_TARGET = 9.0
WATCHOS_DEPLOYMENT_TARGET = 3.0

// Swift Version
SWIFT_VERSION = 5.0

SDKROOT = macosx
ONLY_ACTIVE_ARCH = YES
APPLICATION_EXTENSION_API_ONLY = NO
COPY_PHASE_STRIP = NO
LD_RUNPATH_SEARCH_PATHS = $(inherited) '@executable_path/../Frameworks' '@loader_path/../Frameworks'
COMBINE_HIDPI_IMAGES = YES
INFOPLIST_FILE = UnitTests/Metadata/Info.plist
MTL_ENABLE_DEBUG_INFO = YES
PRODUCT_BUNDLE_IDENTIFIER = de.developercity.SwiftRex.UnitTests
PRODUCT_NAME = $(TARGET_NAME)
ALWAYS_SEARCH_USER_PATHS = NO
CODE_SIGN_IDENTITY =
CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM =
PROVISIONING_PROFILE_SPECIFIER =
CLANG_CXX_LANGUAGE_STANDARD = gnu++14
CLANG_CXX_LIBRARY = libc++
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_OBJC_WEAK = YES
GCC_C_LANGUAGE_STANDARD = gnu11
GCC_DYNAMIC_NO_PIC = NO
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = 'DEBUG=1' $(inherited)
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_TESTABILITY = YES
VALIDATE_PRODUCT = NO
GCC_NO_COMMON_BLOCKS = YES
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
SWIFT_OPTIMIZATION_LEVEL = -Onone
