#include "UnitTests.xcconfig"
#include "Pods/Target Support Files/Pods-UnitTests Combine/Pods-UnitTests Combine.debug.xcconfig"

// Minimum OS Version
IPHONEOS_DEPLOYMENT_TARGET = 13.0
MACOSX_DEPLOYMENT_TARGET = 10.15
TVOS_DEPLOYMENT_TARGET = 13.0
WATCHOS_DEPLOYMENT_TARGET = 6.0

// Swift Version
SWIFT_VERSION = 5.1
