#include "UnitTests.xcconfig"
//#include "Pods/Target Support Files/Pods-UnitTests Combine/Pods-UnitTests Combine.debug.xcconfig"

// Temporarily testing using iOS target
// Testing on macOS requires Catalina
#include "Pods/Target Support Files/Pods-UnitTests Combine iOS/Pods-UnitTests Combine iOS.debug.xcconfig"

// Minimum OS Version
IPHONEOS_DEPLOYMENT_TARGET = 13.0
MACOSX_DEPLOYMENT_TARGET = 10.15
TVOS_DEPLOYMENT_TARGET = 13.0
WATCHOS_DEPLOYMENT_TARGET = 6.0

// Swift Version
SWIFT_VERSION = 5.1

// Temporarily testing using iOS target
// Testing on macOS requires Catalina
SDKROOT = iphoneos
